<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TD #4 - POIS</title>
  </head>
  <body>
    <div class="loader-wrapper">
      <div class="loader"></div>
    </div>
    <section class="section">
      <div class="container">
        <div class="main-content is-hidden">
          <div class="tabs">
            <ul>
              <li><a href="index.html">Rechercher une adresse</a></li>
              <li class="is-active"><a>Points d'intérêt</a></li>
            </ul>
          </div>
          <h1 class="title">Points d'intérêt</h1>
          <div id="output"></div>
        </div>
      </div>
    </section>
  </body>
</html>
